/* demo: Parent vs Child Event */
/* div {
  width: 100%;
  height: 100%;
  background-color: gray;
}

.hidden {
  display: none;
}

div video {
  padding: 40px;
  display: block;
  width: 400px;
  margin: 40px auto;
} */

/* Phân quyền event */
#container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 100px;
}
